<header id="header">
  <div id="logo-group">

    <!-- PLACE YOUR LOGO HERE -->
    <a href="/"><span id="logo"><h4><label> 自动化测试</label></h4></span></a>
    <!-- END LOGO PLACEHOLDER -->
  </div>
  <%= yield :top_right %>

  <% if current_user %>
    <!-- pulled right: nav area -->
    <div class="pull-right">

      <!-- logout button -->
      <div id="logout" class="btn-header transparent pull-right">
        <span>
          <%= link_to(destroy_user_session_path, title: 'Sign Out', data: {action: 'userLogout', 'logout-msg' => 'You can improve your security further after logging out by closing this opened browser'} ,:method=>'delete')  do %>
            <i class="fa fa-sign-out"></i>
          <% end %>
        </span>
      </div>
      <!-- end logout button -->


    </div>
    <!-- end pulled right: nav area -->
  <% end %>

</header>
