<% content_for :html_id, "extr-page" %>
<% content_for :body_class, "animated fadeInDown" %>
<% content_for :top_right do %>
  <span id="extr-page-header-space"> <span class="hidden-mobile hiddex-xs">Need an account?</span>
    <%= link_to 'Create account', new_user_registration_path,  class: 'btn btn-xs bg-color-pink txt-color-white' %>
  </span>
<% end %>
<!-- MAIN CONTENT -->
<div>
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-7 col-lg-8 hidden-xs hidden-sm">
      <h1 class="txt-color-red login-header-big">忘记密码</h1>
    </div>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-5 col-lg-4">
    <div class="well no-padding">
      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post , :class=> "smart-form client-form" }) do |f| %>
        <%= devise_error_messages! %>
        <fieldset>
          <section>
            <label class="label">Enter your email address</label>
            <label class="input"> <i class="icon-append fa fa-envelope"></i>
              <%= f.email_field :email, autofocus: true %>
              <b class="tooltip tooltip-top-right"><i class="fa fa-envelope txt-color-teal"></i> Please enter email address for password reset</b></label>
          </section>
        </fieldset>
        <footer>
          <button type="submit" class="btn btn-primary">
            <i class="fa fa-refresh"></i> Reset Password
          </button>
        </footer>
      <% end %>
    </div>
  </div>
</div>
